
@{
    ViewData["Title"] = "Mr Mistake - Anthology";
}


    <style>
		h1 { color: antiquewhite;
            text-align:center;
            font-size:20px ;
            margin: 20px;
            font-family: 'Sitka Text';
            }
        b,p{
            color: antiquewhite;
            font-family: 'Sitka Text'
        }

        button {
            border-width: 3px;
            border-radius: 15px;
            border-color: greenyellow;
            padding: 5px;
            margin-left: 50px;
            margin-bottom: 25px;
            background-color:greenyellow ;
            color: black;
           
        }
       
		</style>

    <div>
    <h1>@ViewData["Title"]</h1>

    <div class="">
        <button>
            <a class="d-flex" href="https://open.spotify.com/artist/364a25xmu88tsMgHjgRdZq">Listen on Spotify</a>
        </button>
    </div>
        <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-5">
        <!--Card view-->
        <!--Album 1-->
            <div class="max-w-sm rounded overflow-hidden shadow-lg">
            <img class="w-full" src="https://d1csarkz8obe9u.cloudfront.net/themedlandingpages/tlp_hero_album-covers-d12ef0296af80b58363dc0deef077ecc-1552649680.jpg" 
                 alt="">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl text-white mb-2">Its An Album
                    </div>
                    <div class=" text-base tet-white">
                    <p class="card-text"><b>Release Date: </b>11/03/2023</p>
                    <p class="card-text"><b>Featured Artists: </b>Pdiddy</p>
                    </div>
                </div>
            </div>
        
    <!--Album 2-->
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="https://cms-assets.tutsplus.com/cdn-cgi/image/width=360/uploads/users/114/posts/34296/final_image/Final-image.jpg"
             alt="">
        <div class="px-6 py-4">
            <div class="font-bold text-xl text-white mb-2">
                Bangers
            </div>
            <div class=" text-base tet-white">
                <p class="card-text"><b>Release Date: </b>10/03/2023</p>
                <p class="card-text"><b>Featured Artists: </b>Moi</p>
            </div>
        </div>
    </div>
    
    <!--Album 3-->
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
            <img class="w-full" src="https://www.billboard.com/wp-content/uploads/media/Young-Thug-Jeffery-2016-billboard-1240.jpg?w=1024" />
        <div class="px-6 py-4">
            <div class="font-bold text-xl text-white mb-2">
                Automagical
            </div>
            <div class=" text-base tet-white">
                <p class="card-text"><b>Release Date: </b>3/04/2023</p>
                <p class="card-text"><b>Featured Artists: </b>BrendyCakes</p>
            </div>
        </div>
    </div>
    
    <!--Album 4-->
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="https://creativereview.imgix.net/content/uploads/2018/10/13.jpg?auto=compress,format&q=60&w=1065&h=1080"/>
        <div class="px-6 py-4">
            <div class="font-bold text-xl text-white mb-2">
                Hi Ren
            </div>
            <div class=" text-base tet-white">
                <p class="card-text"><b>Release Date: </b>1/01/2023</p>
                <p class="card-text"><b>Featured Artists: </b>Swifty</p>
            </div>
        </div>
    </div>
    <!--Album 5-->
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="https://creativereview.imgix.net/content/uploads/2018/10/2017-Run-the-Jewels-Run-the-Jewels-3.jpg?auto=compress,format&q=60&w=1080&h=1080"
             alt="">
        <div class="px-6 py-4">
            <div class="font-bold text-xl text-white mb-2">
                Run the Jewls
            </div>
            <div class=" text-base tet-white">
                <p class="card-text"><b>Release Date: </b>20/03/2017</p>
                <p class="card-text"><b>Featured Artists: </b>Cher</p>
            </div>
        </div>
    </div>
</div>
</div>