@{
    ViewData["Title"] = "Tracks";
}

<style>
    b {
        color: aliceblue;
        text-align: start;
        font-family: 'Sitka Text';
        font-size: 40px;
    }

    p {
        color: aliceblue;
        font-size: 150px;
        font-family: 'Sitka Text';
        position: absolute;
        margin-top: 1%;
        text-align: center;
    }

    img {
        max-height: 90%;
        float: initial;
    }
</style>
<div>
    <div class="d-flex">
        <div class="">
            <p class="Italic text-bold w-full bd-white"><b>Est. 2021<br /></b>Mr Mistake</p>
        </div>
        <img class=" rounded-full opacity-25" src="images/cityscape.jpg" />
    </div>
</div>
