@{
    ViewData["Title"] = "Tracks";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<style>
    b {
        color: aliceblue;
        text-align: start;
        font-size: 40px;
        font-family:Dashhorizon;
    }

    h1 {
        font-family: Dashhorizon;
        color: aliceblue;
        font-size: 150px;
        position: absolute;
        margin-top: 1%;
        text-align: center;
    }
    p {
        color: aliceblue;

    }

    img {
        max-height: 90%;
        float: initial;
        margin:auto;
    }
</style>

<div>
    <div>
        <div class="d-flex">
            <h1 class="Italic text-bold w-full bd-white"><b>Est. 2021<br /></b>Mr Mistake</h1>
        </div>
        
    </div>
    </div>
    <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-21xl:grid-cols-2 gap-5">
        <!--Card view-->
        <!--Album 1-->
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full rounded-full opacity-15 object-center" src="images/cityscape.jpg" />
               
            <div class="px-6 py-4">
                <div class=" w-full text-white">
                    <p class="card-text" style="font-family:Calibri; font-size:x-large; ">
                        Mr Mistake is a talented electronic dance music EDM artist known for his unique sound that blends elements of various genres.
                        With a passion for music from a young age, Mr Mistake has honed his skills over the years, working tirelessly to create music that resonates with
                        audiences around the world. His electrifying beats, catchy melodies, and innovative production techniques have earned him a dedicated fan base and
                        critical acclaim in the music industry. From his high-energy live performances to his chart-topping releases, Mr Mistake continues to push the boundaries
                        of EDM and inspire listeners with his creativity and passion for music.
                    </p>
                    
                </div>
            </div>
        </div>
        <div>
        
    </div>
</div>
